/*
 * number four
 * site global style
 * 
 * (c)no4.co.jp
 *
 */

body {
	margin: 0;
	padding: 0;
	color: #404040;
	font-size: smaller;
	font-family: Verdana,sans-serif;
}

h1 {
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 110%;
}

p {
	margin: 0.8em 0;
	padding: 0;
	line-height: 1.6em;
}

ul {
	margin: 0.4em 0 0.4em 2em;
	padding: 0;
}

ol {
	margin: 0.4em 0 0.4em 2.5em;
	padding: 0;
}

li {
	padding-bottom: 0.8em;
	line-height: 1.5em;
}

dt {
}

dd {
	line-height: 1.5em;
}

img {
	border: 0;
}

th {
	padding: 0;
	color: #666;
	line-height: 1.5em;
}

td {
	padding: 0;
	color: #404040;
	line-height: 1.5em;
}

a:link, a:visited {
	color: #2b8cb4;
	text-decoration: underline;
}

a:hover, a:active {
	color: #e8b11b;
	text-decoration: underline;
}

/** misc **/

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}