{{> head }}
<title>2008年度入社社員 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2008年度入社社員</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <h2 class="post-title">自分が望めば望むだけの力が付く成長できる環境です。</h2>
                  <div class="text-margin-single">
                    <div class="clearfix text-margin-single" style="margin-bottom:80px;">
                      <div class="float-right" style="width:190px; margin:0 0 10px 10px;">
                        <img src="/resource/img/recruit/face_message2008.jpg" alt="社員の声（2008年入社社員）" width="190"
                          height="288" />
                      </div>
                      <h4 class="post-title">この会社を選んだ理由は？</h4>
                      <p>これまで知らなかったいろいろな知識を吸収して、自分を成長させていくことが出来る会社だと思ったからです。
                      </p>
                      <h4 class="post-title">仕事のやりがいや面白さ、魅力はなんですか？</h4>
                      <p>チームの一員となってひとつのものを作成し、出来上がった時に感じるやりがいや達成感が魅力だと思います
                      </p>
                      <h4 class="post-title">入社して苦労したことはありますか？</h4>
                      <p>専門用語が多く飛び交うので、会話についていけるように勉強したことです。
                      </p>
                      <h4 class="post-title">担当している仕事ではどのような能力が必要とされていますか？</h4>
                      <p>プログラミングをするための言語などの知識はもちろんですが、たくさんの人と接する機会が多いのでコミュニケーション能力も必要とされていると思います。
                      </p>
                      <h4 class="post-title">これから挑戦したいことや夢があったら教えてください。</h4>
                      <p>周りから必要とされる人間になる事です。
                        <br />今教えていただいている方々に、安心して仕事を任せられると思ってもらえるようになりたいです。
                      </p>
                      <h4 class="post-title">入社希望者へひとことお願いします。</h4>
                      <p>ボーリングや飲み会など充実したイベントもあり、楽しく温かい会社です。
                        <br />この会社で仕事をしたいと思った方は是非、ご応募お待ちしております。
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
