{{> head }}
<title>会社概要 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">会社概要</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <table class="full-size">
                    <tbody>
                      <tr>
                        <th>会社名</th>
                        <td>株式会社ナンバーフォー</td>
                      </tr>
                      <tr>
                        <th>代表取締役</th>
                        <td>白崎 建次</td>
                      </tr>
                      <tr>
                        <th>所在地</th>
                        <td>〒910-0026
                          <br />福井県福井市光陽3丁目8番26号
                          <a title="ナンバーフォー「地図」へ" href="/company/map/">地図</a>
                        </td>
                      </tr>
                      <tr>
                        <th>電話番号</th>
                        <td>0776-30-4464（代）</td>
                      </tr>
                      <tr>
                        <th>FAX番号</th>
                        <td>0776-30-4474</td>
                      </tr>
                      <tr>
                        <th>資本金</th>
                        <td>1,000万円</td>
                      </tr>
                      <tr>
                        <th>取引銀行</th>
                        <td>福井銀行 飯塚支店
                          <br />北陸銀行 二の宮支店
                        </td>
                      </tr>
                      <tr>
                        <th>加盟団体</th>
                        <td>福井商工会議所</td>
                      </tr>
                      <tr>
                        <th>各種認定・登録</th>
                        <td>ISO27001
                          <br />認定登録番号　IS 582071
                        </td>
                      </tr>
                      <tr>
                        <th>従業員数</th>
                        <td>25名</td>
                      </tr>
                      <tr>
                        <th>事業内容</th>
                        <td>コンピュータソフトウェアシステム設計・開発
                          <br />各種情報システムコンサルタント業務
                        </td>
                      </tr>
                      <tr>
                        <th>沿革</th>
                        <td>
                          <table class="bordernone">
                            <tr>
                              <th>平成10年10月</th>
                              <td>有限会社ナンバーフォー設立</td>
                            </tr>
                            <tr>
                              <th>平成13年09月</th>
                              <td>文京7丁目へ社屋移転</td>
                            </tr>
                            <tr>
                              <th>平成16年10月</th>
                              <td>組織変更により株式会社ナンバーフォーへ</td>
                            </tr>
                            <tr>
                              <th>平成23年04月</th>
                              <td>光陽3丁目へ社屋移転</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/company }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
