{{> head }}
<title>2012年度入社社員 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2012年度入社社員</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <div class="text-margin-single">
                    <h2 class="post-title">様々な開発に携わることができる職場です。</h2>
                    <div class="clearfix text-margin-single" style="margin-bottom:80px;">
                      <div class="float-right" style="width:190px; margin:0 0 10px 10px;">
                        <img src="/resource/img/recruit/face_message2012.jpg" alt="社員の声（2012年入社社員）" width="190"
                          height="288" />
                      </div>
                      <h4 class="post-title">この会社を選んだ理由は？</h4>
                      <p>社長と会長とお話ししてみて、お二人の下で働きたいと思ったからです。
                        <br />とても柔らかい印象で、頼もしさもあり、お二人についていきたいと思いました。
                      </p>
                      <h4 class="post-title">仕事のやりがいや面白さ、魅力はなんですか？</h4>
                      <p>難しいプログラムを試行錯誤しながら実装しているときが楽しくて、完成した時の達成感が好きです。
                        <br />また、プロジェクトが変わる度に開発するものが全く違うものになるので新鮮な気持ちで仕事に取り組めますし、
                        <br />色々な業界のことも知ることができるのが魅力だと思います。
                      </p>
                      <h4 class="post-title">入社して苦労したことはありますか？</h4>
                      <p>入社1年目は専門用語が分からず、ミーティング等で先輩たちの話についていくのに苦労しました。
                        <br />また、パソコンの操作もごく基本的なことしか知らなかったので、先輩のキー操作等を見て勉強しました。
                      </p>
                      <h4 class="post-title">担当している仕事ではどのような能力が必要とされていますか？</h4>
                      <p>基本的にどの仕事でもそうだと思いますが、コミュニケーション能力が必要です。
                        <br />仕事を進める中で、自分が分からないことを伝えたり、
                        <br />指示された内容を的確に理解したりすることがとても大切だと思います。
                      </p>
                      <h4 class="post-title">これから挑戦したいことや夢があったら教えてください。</h4>
                      <p>苦手分野がなく、色々なことがまんべんなく出来る技術者になりたいです。
                        <br />また、細かいミスを減らして安心して仕事が任せられる人になりたいと思います。
                      </p>
                      <h4 class="post-title">入社希望者へひとことお願いします。</h4>
                      <p>入社前に専門的な知識がまったくなくても、やる気があれば必ずスキルアップしていけます。
                        <br />弊社が気になった方は、一度、会社見学へ来て見てみてください。
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
