{{> head }}
<title>2018年 社員旅行 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2018年 社員旅行</h2>
        </div>
        <div id="primary">
          <main id="main" class="clearfix">
            <section>
              <article class="post">
                <header class="entry-header">
                  <div class="entry-meta">2018年9月15日</div>
                </header>
                <div class="entry-content clearfix">
                  <p>今年の社員旅行は兵庫＆大阪！</p>
                  <p>家族参加ＯＫ、１泊２日の賑やかな旅になりました。
                    <br />前週に台風が襲来し開催が危ぶまれた今回の社員旅行ですが、祈りが通じたのか当日は暑いくらいの見事な晴天で旅行日和となりました。
                    <br />豪華な神戸牛の昼食から始まり、博物館でコーヒーの試飲、夜景の見えるディナークルーズ、大阪城・海遊館めぐりなど、あわただしくも濃厚なスケジュールでしたが、怪我や事故も無く、全員が無事に思い出とともに帰宅しました。
                  </p>
                  <div class="column clearfix">
                    <div class="two-column">
                      <a href="/resource/img/gallery/201809-01-1.jpg" rel="lightbox[83]">
                        <img src="/resource/img/gallery/201809-01-1-818x546.jpg" width="818" height="546" />
                      </a>
                      <br />
                    </div>
                  </div>
                  <p>【日程】
                    <br />9月15日（土） ～ 9月16日（日） （一泊二日）
                  </p>
                  <p>9月15日（土）
                    <br />ナンバーフォー出発
                    <br />||
                    <br />新神戸駅で合流
                    <br />||
                    <br />生田神社【散策】
                    <br />||
                    <br />ステーキランド神戸館【昼食】
                    <br />||
                    <br />UCCコーヒー博物館【見学】
                    <br />||
                    <br />ハーバーランド【散策】
                    <br />||
                    <br />ルミナス２【夕食】
                    <br />||
                    <br />ポートピアホテル【宿泊】
                  </p>
                  <p>9月16日（日）
                    <br />ポートピアホテル出発
                    <br />||
                    <br />海遊館【見学】
                    <br />||
                    <br />千房【昼食】
                    <br />||
                    <br />大阪城【散策】
                    <br />||
                    <br />大阪駅で解散
                    <br />||
                    <br />ナンバーフォー到着
                  </p>
                  <br />
                  <p>◆◆◆旅行 一日目 ◆◆◆</p>
                  <div class="column clearfix">
                    <div class="two-column">
                      <a href="/resource/img/gallery/201809-01-2.jpg" rel="lightbox[83]">
                        <img src="/resource/img/gallery/201809-01-2-352x235.jpg" width="352" height="235" />
                      </a>
                      <br />
                      生田神社には縁結びのご利益があるそうです。
                    </div>
                    <div class="two-column">
                      <a href="/resource/img/gallery/201809-01-3.jpg" rel="lightbox[83]">
                        <img src="/resource/img/gallery/201809-01-3-348x232.jpg" width="348" height="232" />
                      </a>
                      <br />
                      デカァァァい！！
                    </div>
                  </div>
                  <div class="column clearfix">
                    <div class="two-column">
                      <a href="/resource/img/gallery/201809-01-4.jpg" rel="lightbox[83]">
                        <img src="/resource/img/gallery/201809-01-4-348x232.jpg" width="348" height="232" />
                      </a>
                      <br />
                      UCCコーヒー博物館にて。
                    </div>
                    <div class="two-column">
                      <a href="/resource/img/gallery/201809-01-5.jpg" rel="lightbox[83]">
                        <img src="/resource/img/gallery/201809-01-5-348x232.jpg" width="348" height="232" />
                      </a>
                      <br />
                      このクルーズ船でディナー。
                    </div>
                  </div>
                  <p>◆◆◆旅行 二日目 ◆◆◆</p>
                  <div class="column clearfix">
                    <div class="two-column">
                      <a href="/resource/img/gallery/201809-01-6.jpg" rel="lightbox[83]">
                        <img src="/resource/img/gallery/201809-01-6-348x232.jpg" width="348" height="232" />
                      </a>
                      <br />
                      行くぜ！海遊館！
                    </div>
                    <div class="two-column">
                      <a href="/resource/img/gallery/201809-01-7.jpg" rel="lightbox[83]">
                        <img src="/resource/img/gallery/201809-01-7-348x232.jpg" width="348" height="232" />
                      </a>
                      <br />
                      (・________・)))>)))))))))><| </div>
                    </div>
                  </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/gallery }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
