{{> head }}
<title>ギャラリー | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">ギャラリー</h2>
        </div>
        <div id="primary">
          <main id="main" class="clearfix">
            <!--/*2018年 社員旅行*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/201809-01/" title="2016年 忘年会">
                    <img width="500" height="375" src="/resource/img/gallery/201809-01-5-348x232.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2018年9月15日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/201809-01/" title="2016年 忘年会">2018年 社員旅行</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>
                    今年の社員旅行は、兵庫＆大阪！家族参加ＯＫ、１泊２日の賑やかな旅になりました。前週に台風が襲来し開催が危ぶまれた今回の社員旅行ですが、祈りが通じたのか当日は暑いくらいの見事な晴天で旅行日和となりました。&hellip;
                  </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/201809-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>

            <!--/*2016年 忘年会*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/201612-01/" title="2016年 忘年会">
                    <img width="500" height="375" src="/resource/img/gallery/201612-01-4-300x225.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2016年12月29日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/201612-01/" title="2016年 忘年会">2016年 忘年会</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>今年も皆様お疲れ様でした！ 午前中の社内大掃除は、皆さんのご協力により、きれいになりました。 昼食は、お寿司＆ピザをみんなで頂きました。 そして、恒例になりつつある、プレゼンテーション！
                    来年度入社内定者２名、社員２名の&hellip; </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/201612-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>

            <!--/*2016年 社員旅行*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/201609-01/" title="2016年 社員旅行">
                    <img width="500" height="375" src="/resource/img/gallery/201609-01-4-300x199.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2016年9月18日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/201609-01/" title="2016年 社員旅行">2016年 社員旅行</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>今年の社員旅行は、静岡＆愛知でした。 来年度入社２名、家族参加ＯＫの楽しいバス旅行となりました。 【日程】 9月18日（日） ～ 9月19日（月） （一泊二日） 9月18日（日）
                    [07:00]　ナンバーフォー出発 (※&hellip; </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/201609-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>

            <!--/*2012年 社員交流会*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/201205-01/" title="2012年 社員交流会">
                    <img width="500" height="375" src="/resource/img/gallery/201205-01-1-300x225.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2012年5月7日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/201205-01/" title="2012年 社員交流会">2012年 社員交流会</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>今年も毎年恒例の社員交流会を行いました。 今回はソフトバレーとバーベキュー！出張へ行っているメンバーも いる為、久しぶりに社員集合となりました！
                    運動不足を解消＋お腹を空かせる為、午前中はソフトバレーを行いました。 1ゲ&hellip; </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/201205-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>

            <!--/*2009年 社員交流会*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/200905-01/" title="2009年 社員交流会">
                    <img width="500" height="375" src="/resource/img/gallery/200905-01-1-300x225.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2009年5月21日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/200905-01/" title="2009年社員交流会">2009年 社員交流会</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>社員交流会は、他社で活動している社員と自社で活動している社員の交流を目的として開催されるイベントです。
                    今回の社員交流会は午前中に社内プロジェクトの会議を行い、午後からは社員でバドミントン大会を行いました。 午前中に行っ&hellip; </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/200905-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>

            <!--/*2008年 忘年会*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/200812-01/" title="2008年 忘年会">
                    <img width="500" height="375" src="/resource/img/gallery/200812-01-1-300x225.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2008年12月15日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/200812-01/" title="2008年忘年会">2008年 忘年会</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>ご挨拶が遅くなりましたが、旧年中は皆様に格別のお引き立てを賜り、誠にありがとうございました。 本年も相変わらぬご愛顧を賜りますようよろしくお願い申し上げます。
                    今回は2008年の締めくくりとなった日の様子をご紹介したいと&hellip; </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/200812-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>

            <!--/*2008年 創立記念イベント*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/200810-01/" title="2008年 創立記念イベント">
                    <img width="500" height="375" src="/resource/img/gallery/200810-01-2.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2008年10月9日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/200810-01/" title="2008年創立記念イベント">2008年 創立記念イベント</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>皆様の温かいご支援のもと、10月9日をもちまして、株式会社ナンバーフォーは創立10周年を迎えることとなりました。 これも偏に皆様方の御支援と御協力の賜と心より感謝いたしております。
                    今後とも一層の御支援と御協力を賜ります&hellip; </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/200810-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>

            <!--/*2008年 社内アプリコンテスト*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/200807-01/" title="2008年 社内アプリコンテスト">
                    <img width="500" height="375" src="/resource/img/gallery/200807-01-1.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2008年7月13日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/200807-01/" title="2008年 コンテスト">2008年 社内アプリコンテスト</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>2008年7月 発想と技術を競うコンテストを開催！！ 当社のマスコット「フォーちゃん」がクリックされた時、どう動くのか？
                    各自のユニークな発想を、プログラムで実現し、それを発表するコンテストを行いました。 シンプルな題材&hellip; </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/200807-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>

            <!--/*2008年 社員交流会*/-->
            <article class="post">
              <div class="post-image-content">
                <figure class="post-featured-image">
                  <a href="/gallery/200804-01/" title="2008年 社員交流会">
                    <img width="500" height="375" src="/resource/img/gallery/200804-01-1.jpg" />
                  </a>
                </figure>
              </div>
              <div class="post-featured-text">
                <header class="entry-header">
                  <div class="entry-meta">2008年4月10日</div>
                  <h2 class="entry-title">
                    <a href="/gallery/200804-01/" title="2008年社員交流会">2008年 社員交流会</a>
                  </h2>
                </header>
                <div class="entry-content">
                  <p>2008年4月 社員の発案による社員交流会を開催！！ 当社ではスポーツ大会など、いろいろなイベントを行っております。 今回は社員発案で4月に行われた社員交流をご紹介します。
                    午前中に行ったバーベキューの様子です。 お肉を&hellip; </p>
                </div>
                <center><a class="more-link" title="" href="/gallery/200804-01/">もっと読む </a></center>
              </div>
              <footer class="entry-footer clearfix"></footer>
            </article>
          </main>
        </div>
        {{> sidebar/gallery }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
