{{> head }}
<title>2008年 社員交流会 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2008年 社員交流会</h2>
        </div>
        <div id="primary">
          <main id="main" class="clearfix">
            <section>
              <article class="post">
                <header class="entry-header">
                  <div class="entry-meta">2008年4月10日</div>
                </header>
                <div class="entry-content clearfix">
                  <p>
                    <strong>当社ではスポーツ大会など、いろいろなイベントを行っております。
                      <br />今回は社員発案で4月に行われた社員交流をご紹介します。
                    </strong>
                  </p>
                  <p>午前中に行ったバーベキューの様子です。
                    <br />お肉を買いすぎてしまい全員がしばらく肉は見たくないというくらいにお肉を食べていたのですが、なぜか冷凍チャーハンは別腹だったようでわずか数分で完食してしまいました。
                  </p>
                  <div class="column clearfix">
                    <div class="three-column">
                      <a href="/resource/img/gallery/200804-01-1.jpg" rel="lightbox[173]">
                        <img src="/resource/img/gallery/200804-01-1.jpg" width="300" height="225" />
                      </a>
                    </div>
                    <div class="three-column">
                      <a href="/resource/img/gallery/200804-01-2.jpg" rel="lightbox[173]">
                        <img src="/resource/img/gallery/200804-01-2.jpg" width="300" height="225" />
                      </a>
                    </div>
                    <div class="three-column">
                      <a href="/resource/img/gallery/200804-01-3.jpg" rel="lightbox[173]">
                        <img src="/resource/img/gallery/200804-01-3.jpg" width="300" height="225" />
                      </a>
                    </div>
                  </div>
                  <p>午後に行われたスポーツ大会の様子です。
                    <br />バトミントンのダブルスとソフトバレーを行いました。最初は日頃の運動不足を解消すべく必死に動いていたのですが、気が付くと最後には動くのがやっとの状態になっていました。
                  </p>
                  <div class="column clearfix">
                    <div class="three-column">
                      <a href="/resource/img/gallery/200804-01-4.jpg" rel="lightbox[173]">
                        <img src="/resource/img/gallery/200804-01-4.jpg" width="300" height="225" />
                      </a>
                    </div>
                    <div class="three-column">
                      <a href="/resource/img/gallery/200804-01-5.jpg" rel="lightbox[173]">
                        <img src="/resource/img/gallery/200804-01-5.jpg" width="300" height="225" />
                      </a>
                    </div>
                  </div>
                  <p>次の日にそば打ちが行われました。
                    <br />写真は自分で打ったそばの試食中の様子です。
                    <br />そばを打つのは思った以上に大変だったのですが、大変おいしく頂くことが出来きました。
                  </p>
                  <div class="column clearfix">
                    <div class="three-column">
                      <a href="/resource/img/gallery/200804-01-6.jpg" rel="lightbox[173]">
                        <img src="/resource/img/gallery/200804-01-6.jpg" width="300" height="225" />
                      </a>
                    </div>
                    <div class="three-column">
                      <a href="/resource/img/gallery/200804-01-7.jpg" rel="lightbox[173]">
                        <img src="/resource/img/gallery/200804-01-7.jpg" width="300" height="225" />
                      </a>
                    </div>
                  </div>
                  <p>当社ではこのようなイベントをまだまだ行っていく予定です。</p>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/gallery }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
