{{> head }}
<title>事業内容 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">事業内容</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <h3 class="post-title">コンピュータソフトウェア システム設計・開発</h3>
                  <p>■ お客様との開発の進め方</p>
                  <img src="/resource/img/project/project.jpg"
                    style="width:100%; padding:0 32px; box-sizing:border-box;">
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/project }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
