{{> head }}
<title>地図 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">地図</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <div class="maps-container">
                    <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3225.1458219991723!2d136.1952909153105!3d36.06554718010656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8bf1a86cb12f1%3A0x4ae5b066453f5237!2z77yI5qCq77yJ44OK44Oz44OQ44O844OV44Kp44O8!5e0!3m2!1sja!2sjp!4v1496903360753"
                      width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
                  <h2 class="post-title">交通アクセス(JR福井駅から)</h2>
                  <ul>
                    <li>すまいるバス 西ルート照手・足羽方面 光陽生協病院口下車 徒歩1分以内</li>
                    <li>京福バス [12]学園線 県社会福祉センター下車 徒歩6分</li>
                    <li>京福バス [70]運動公園線 福井競輪場前下車 徒歩6分</li>
                  </ul>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/company }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
