{{> head }}
<title>募集要項 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">募集要項</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <p>弊社は「人が財産」だと考え、面接重視で採用を行っています。</p>
                  <p>
                    <a href="/recruit/voice/">社員の声</a>や
                    <a href="/recruit/qa/">Q&amp;A</a>などを参考にされたうえで、同じ目標に向かって一緒に働きたいと思われた方は、
                    <a href="/inquiry/">お問い合わせ</a>よりご応募ください。
                  </p>
                  <h3 class="post-title">新卒者募集要項(2022年3月に卒業予定の方)</h3>
                  <table class="full-size" summary="ナンバーフォー募集要項">
                    <tbody>
                      <tr>
                        <th>募集期間</th>
                        <td>
                          随時
                        </td>
                      </tr>
                      <tr>
                        <th>職種</th>
                        <td>SE・プログラマ</td>
                      </tr>
                      <tr>
                        <th>応募資格</th>
                        <td>
                          高卒以上(来春、卒業予定)
                        </td>
                      </tr>
                      <tr>
                        <th>仕事内容</th>
                        <td>コンピュータソフトの設計・開発</td>
                      </tr>
                      <tr>
                        <th>雇用形態</th>
                        <td>正社員（試用期間３ヶ月あり）</td>
                      </tr>
                      <tr>
                        <th>勤務時間</th>
                        <td>基本就業時間（9:30-18:30）
                          <br />フレックス制（コアタイムあり）
                        </td>
                      </tr>
                      <tr>
                        <th>勤務地</th>
                        <td>福井市</td>
                      </tr>
                      <tr>
                        <th>給与</th>
                        <td>
                          専門・短大・高専卒（基本給） 185,000円<br>
                          大卒（基本給）　　　　　　　 200,000円
                        </td>
                      </tr>
                      <tr>
                        <th>休暇・休日</th>
                        <td>週休2日（土・日）、祝祭日、年末年始休、リフレッシュ休暇、年次有給休暇、慶弔</td>
                      </tr>
                      <tr>
                        <th>待遇・福利厚生</th>
                        <td>各種社会保険完備、資格取得報奨金、交通費、出張手当</td>
                      </tr>
                      <tr>
                        <th>歓迎する人員</th>
                        <td>
                          ガッツのある人
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <h3 class="post-title">中途採用募集要項</h3>
                  <table class="full-size" summary="ナンバーフォー募集要項">
                    <tr>
                      <th>募集期間</th>
                      <td>
                        随時
                      </td>
                    </tr>
                    <tr>
                      <th>職種</th>
                      <td>SE・プログラマ</td>
                    </tr>
                    <tr>
                      <th>応募資格</th>
                      <td>
                        実務経験3年程度以上（学歴は問いません）
                        <br />スマホアプリ(iPhone・Android)の開発経験がある方
                        <br />※ デザインやプログラムの知識がなくても、やる気のある方からのご応募は大歓迎です。
                      </td>
                    </tr>
                    <tr>
                      <th>仕事内容</th>
                      <td>コンピュータソフトの設計・開発</td>
                    </tr>
                    <tr>
                      <th>雇用形態</th>
                      <td>正社員（試用期間3ヶ月あり）</td>
                    </tr>
                    <tr>
                      <th>勤務時間</th>
                      <td>基本就業時間（9:30-18:30）
                        <br />フレックス制（コアタイムあり）
                      </td>
                    </tr>
                    <tr>
                      <th>勤務地</th>
                      <td>福井市</td>
                    </tr>
                    <tr>
                      <th>給与</th>
                      <td>
                        経験・能力・年齢・前給を考慮のうえ決定します。
                      </td>
                    </tr>
                    <tr>
                      <th>休暇・休日</th>
                      <td>週休2日（土・日）、祝祭日、年末年始休、リフレッシュ休暇、年次有給休暇、慶弔</td>
                    </tr>
                    <tr>
                      <th>待遇・福利厚生</th>
                      <td>各種社会保険完備、資格取得報奨金、交通費、出張手当</td>
                    </tr>
                    <tr>
                      <th>歓迎する人員</th>
                      <td>
                        即戦力になる経験者、ガッツのある人
                      </td>
                    </tr>
                  </table>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
