{{> head }}
<title>メール不達の事象についてのお詫び | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">メール不達の事象についてのお詫び</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article class="post">
                <header class="entry-header">
                  <div class="entry-meta">2015年10月5日</div>
                </header>
                <div class="entry-content clearfix">
                  <p>2015/06/13から2015/10/05までの期間、設定不備の為、以下のメールアドレス宛てに送信されたメールが不達となる場合がありました。</p>
                  <ul>
                    <li>業務お問合せメールアドレス：info@no4.co.jp</li>
                    <li>採用お問合せメールアドレス：recruiting@no4.co.jp</li>
                  </ul>
                  <p>もしエラーで送信できなかった等、お心当たりのある場合には大変恐れ入りますが、再度送信していただきますようお願い申し上げます。
                    <br />大変ご迷惑をおかけしましたことをお詫び申し上げます。
                  </p>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/news }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
