{{> head }}
<title>2007年度入社社員 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2007年度入社社員</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <h2 class="post-title">自分の考えが商品になるとてもやりがいのある仕事です。</h2>
                  <div class="text-margin-single">
                    <div class="clearfix text-margin-single" style="margin-bottom:80px;">
                      <div class="float-right" style="width:190px; margin:0 0 10px 10px;">
                        <img src="/resource/img/recruit/face_message2007.jpg" alt="2007年入社社員" width="190"
                          height="288" />
                      </div>
                      <h4 class="post-title">この会社を選んだ理由は？
                        </h2>
                        <p>きっかけは学校の先生の紹介でした。
                          <br />同じ学校を卒業した方が創立した会社とお聞きして興味を持ったのがきっかけです。
                        </p>
                        <h4 class="post-title">仕事のやりがいや面白さ、魅力はなんですか？
                        </h4>
                        <p>自分の考えを形に出来ることです。
                          <br />プログラムが予想外の動きをしたときはその度に新しい発見ができ、やっと考えた通りに動作したときにはやりがいや面白さを感じます。
                        </p>
                        <h4 class="post-title">入社して苦労したことはありますか？
                        </h4>
                        <p>専門知識がなかったので、最初は分からないことだらけで苦労しました。
                        </p>
                        <h4 class="post-title">担当している仕事ではどのような能力が必要とされていますか？
                        </h4>
                        <p>お客様とのコミニュケーション能力だと思います。あと、数学への興味が少しでもあるといいと思います。
                        </p>
                        <h4 class="post-title">これから挑戦したいことや夢があったら教えてください。
                        </h4>
                        <p>幅広い知識を身につけ、様々な環境に対応できるようになっていきたいです。
                        </p>
                        <h4 class="post-title">入社希望者へひとことお願いします。
                        </h4>
                        <p>専門的な知識がなくても、興味ややる気があれば大丈夫です。
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
