{{> head }}
<title>2008年 社内アプリコンテスト | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2008年 社内アプリコンテスト</h2>
        </div>
        <div id="primary">
          <main id="main" class="clearfix">
            <section>
              <article class="post">
                <header class="entry-header">
                  <div class="entry-meta">2008年7月13日</div>
                </header>
                <div class="entry-content clearfix">
                  <p>当社のマスコット「フォーちゃん」がクリックされた時、どう動くのか？
                    <br />各自のユニークな発想を、プログラムで実現し、それを発表するコンテストを行いました。
                  </p>
                  <p>
                    <a href="/resource/img/img_fochan.gif" rel="lightbox[170]">
                      <img src="/resource/img/img_fochan.gif" alt="img_fochan" width="99" height="99" />
                    </a>
                  </p>
                  <p>
                    シンプルな題材なだけに、とても難しくプログラミングの奥深さを痛感させていただきました。
                  </p>
                  <p>本格的な3D表示に挑戦した作品や、数値計算ライブラリや描画スピードを活かした作品、状態変数を追加して制御を行った作品、溜めの要素や演出が面白い作品等どれも面白い作品ばかりでした。</p>
                  <div class="column clearfix">
                    <div class="three-column">
                      <a href="/resource/img/gallery/200807-01-1.jpg" rel="lightbox[170]">
                        <img src="/resource/img/gallery/200807-01-1.jpg" width="300" height="225" />
                      </a>
                    </div>
                    <div class="three-column">
                      <a href="/resource/img/gallery/200807-01-2.jpg" rel="lightbox[170]">
                        <img src="/resource/img/gallery/200807-01-2.jpg" width="300" height="225" />
                      </a>
                    </div>
                  </div>
                  <p>その中でも特に素晴らしい今回金賞に輝いた作品は、既にクリックの範囲を超えてゲームになっていた作品です。</p>
                  <p>速度を加速させながら迷路中を逃げ回っているフォーちゃんをクリックする作品で、クリックできると思った瞬間フォーちゃんにワープされたりと、とても楽しめる作品に仕上がっていました。 </p>
                  <p>作品をみて「なんでそんなことができちゃうの!!」と思うような作品もたくさんあり、とても勉強になったコンテストでした。</p>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/gallery }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
