{{> head }}
<title>社是・ポリシー | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">社是・ポリシー</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <h2 class="post-title">社是</h2>
                  <ol>
                    <li>社員の幸福を重視する経営を図る</li>
                    <li>情報通信産業の発展と共に、会社の繁栄を目指す</li>
                    <li>地元に密着した事業を展開し、地域発展に貢献する</li>
                  </ol>
                  <h2 class="post-title">ポリシー</h2>
                  <ol>
                    <li>
                      <strong>技術力</strong>
                      <br />高い技術力を得るために、日々精進に努めてまいります。
                    </li>
                    <li>
                      <strong>想像力</strong>
                      <br />多彩な経験を根底とした想像力で、お客様のご期待に応えていきます。
                    </li>
                    <li>
                      <strong>柔軟性</strong>
                      <br />システムに柔軟性を持たせ日々変化するお客様のニーズに対応していきます。
                    </li>
                    <li>
                      <strong>責任感</strong>
                      <br />一人一人が責任感を持ち、最善の形をお客様に提供いたします。
                    </li>
                  </ol>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/company }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
