{{> head }}
<title>社員の声 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">社員の声</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <p>当社で活躍するメンバを紹介します。</p>
                  <div class="voice1">
                    【2017年度入社社員】<br>
                    <a class="voice2" href="/recruit/voice/2017_1/">意見が届きやすい会社です。</a>
                    <br>
                    <a class="voice2" href="/recruit/voice/2017_2/">幅広い知識が身につく仕事です。</a>
                    <br>
                    <a class="voice2" href="/recruit/voice/2017_3/">一人一人に合った働き方ができる職場です。</a>
                  </div>
                  <div class="voice1">
                    【2012年度入社社員】<br>
                    <a class="voice2" href="/recruit/voice/2012/">様々な開発に携わることができる職場です。</a>
                  </div>
                  <div class="voice1">
                    【2011年度入社社員】<br>
                    <a class="voice2" href="/recruit/voice/2011/">自分のやりたい事が実現できる職場です。</a>
                  </div>
                  <div class="voice1">
                    【2008年度入社社員】<br>
                    <a class="voice2" href="/recruit/voice/2008/">自分が望めば望むだけの力が付く成長できる環境です。</a>
                  </div>
                  <div class="voice1">
                    【2007年度入社社員】<br>
                    <a class="voice2" href="/recruit/voice/2007/">自分の考えが商品になるとてもやりがいのある仕事です。</a>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
