{{> head }}
<title>外観 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">外観</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <div class="column clearfix">
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/exterior/exterior1.jpg" rel="lightbox[39]">
                          <img src="/resource/img/exterior/exterior1-300x200.jpg" alt="看板1" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">看板1</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/exterior/exterior2.jpg" rel="lightbox[39]">
                          <img src="/resource/img/exterior/exterior2-300x200.jpg" alt="看板2" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">看板2</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/exterior/exterior3.jpg" rel="lightbox[39]">
                          <img src="/resource/img/exterior/exterior3-300x200.jpg" alt="外観1" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">外観1</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/exterior/exterior4.jpg" rel="lightbox[39]">
                          <img src="/resource/img/exterior/exterior4-300x200.jpg" alt="外観2" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">外観2</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/exterior/exterior5.jpg" rel="lightbox[39]">
                          <img src="/resource/img/exterior/exterior5-300x200.jpg" alt="外観3" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">外観3</figcaption>
                      </figure>
                    </div>
                    <div class="three-column"></div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/company }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
