{{> head }}
<title>2017年度入社社員 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2017年度入社社員</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <div class="text-margin-single">
                    <h2 class="post-title">意見が届きやすい会社です。</h2>
                    <div class="clearfix text-margin-single" style="margin-bottom:80px;">
                      <h4 class="post-title">この会社を選んだ理由は？</h4>
                      <p>学生時代に参加した会社説明会で先輩方のお話をお聞きして、興味を持ったからです。
                        <br />アットホームな雰囲気がすごく感じ取れたので、ここにしようと決めました。
                      </p>
                      <h4 class="post-title">仕事のやりがいや面白さ、魅力はなんですか？</h4>
                      <p>できることが増えているなと実感できることです。
                        <br />何度もプログラムを書いているうちに、「どうすればこの処理を実現できるか」がだんだんわかってくるのでこう書けばいいんだとひらめいたときはとても楽しいです。
                      </p>
                      <h4 class="post-title">入社して苦労したことはありますか？</h4>
                      <p>他の人が書いたコードを理解することです。
                        <br />コードの書き方は人それぞれなので、自分と全く違う書き方のものを見たときは
                        何をしているのかを理解するに大変時間がかかりました。
                      </p>
                      <h4 class="post-title">担当している仕事ではどのような能力が必要とされていますか？</h4>
                      <p>自分の考えを他人に伝える能力だと思います。
                        <br />自分が実装した部分の説明をチームの方や先輩にすることがよくあります。
                        <br />そのときに理解していただけるよう、分かりやすく伝るということはすごく大事だと思いました。
                      </p>
                      <h4 class="post-title">これから挑戦したいことや夢があったら教えてください。</h4>
                      <p>何か一つに絞り込んでそれを極めるというより、いろんなことを経験したいと思っているので、
                        その時にやりたいと思ったこと、興味を持ったことに全力で時間を使いたいと思っています。
                        <br />楽しんでいろんなことに取り組んでいきたいです。
                      </p>
                      <h4 class="post-title">入社希望者へひとことお願いします。</h4>
                      <p>弊社の良いところは、社員皆さんとの距離はもちろん、社長との距離がとても近いというところだと思っています。
                        <br />社員ひとりひとりと向き合って、きちんとお話を聞いてくださいます。
                        <br />意見や思いが伝わりやすいので働きやすい環境です。
                        <br />興味を持ってくださった方は是非会社見学に来ていただけたら幸いです。
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
