{{> head }}
<link rel='stylesheet' id='metaslider-flex-slider-css' href='/resource/css/flexslider.css' type='text/css' media='all'
  property='stylesheet' />
<link rel='stylesheet' id='metaslider-public-css' href='/resource/css/public.css' type='text/css' media='all'
  property='stylesheet' />
<script type='text/javascript' src='/resource/js/jquery.flexslider-min.js'></script>
<title>ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント - |
  株式会社ナンバーフォーは、ソフトウェア設計・開発の会社です。福井、東京、横浜を中心に、ユーザーに優しいテクノロジーをモットーとしてシステム開発を行っております。</title>
</head>

<body class="home small_image_blog">
  <div id="page">
    <div style="width: 100%;" class="metaslider metaslider-flex metaslider-528 ml-slider nav-hidden">
      <div id="metaslider_container_528">
        <div id="metaslider_528">
          <ul class="slides">
            <li style="display: block; width: 100%;">
              <img src="/resource/img/top1.jpg" height="500" width="1920" />
            </li>
            <li style="display: none; width: 100%;">
              <img src="/resource/img/top2.jpg" height="500" width="1920" />
            </li>
            <li style="display: none; width: 100%;">
              <img src="/resource/img/top3.jpg" height="500" width="1920" />
            </li>
          </ul>
        </div>
      </div>
      <script type="text/javascript">
        var metaslider_528 = function ($) {
          $('#metaslider_528').addClass('flexslider'); // theme/plugin conflict avoidance
          $('#metaslider_528').flexslider({
            slideshowSpeed: 3000,
            animation: "fade",
            controlNav: false,
            directionNav: true,
            pauseOnHover: false,
            direction: "horizontal",
            reverse: false,
            animationSpeed: 600,
            prevText: "&lt;",
            nextText: "&gt;",
            slideshow: true
          });
        };
        var timer_metaslider_528 = function () {
          var slider = !window.jQuery ? window.setTimeout(timer_metaslider_528, 100) : !jQuery.isReady ? window.setTimeout(timer_metaslider_528, 1) : metaslider_528(window.jQuery);
        };
        timer_metaslider_528();
      </script>
    </div>
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">ナンバーフォーとは</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <p>
                    <!--
                        <style type="text/css">.metaslider, .page-header {display: block!important;}</style>
                    -->
                    <br />
                    <img class="aligncenter wp-image-423" src="/resource/img/clover.gif" alt="clover" width="80"
                      height="146" />
                  </p>
                  <div class="top_message">
                    <p>お客様の本当の幸せのために・・・</p>
                    <p>この「四葉のクローバー」＝「ナンバーフォー」
                      <br />を見つけていただいたお客様に
                    </p>
                    <p>
                      <strong>「小さなしあわせをお約束できる」</strong>
                    </p>
                    <p>私共ナンバーフォーは、そういう会社でありたいと考え
                      <br />お客様のしあわせのために使われるソフトウェアを
                      <br />目指して開発に取り組んでおります。
                    </p>
                  </div>
                  <p style="text-align: center;">
                    <span class="textlink">詳しくは
                      <a href="/company/about/">会社概要</a>へ
                    </span>
                  </p>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/news }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
