{{> head }}
<title>2008年 創立記念イベント | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2008年 創立記念イベント</h2>
        </div>
        <div id="primary">
          <main id="main" class="clearfix">
            <section>
              <article class="post">
                <header class="entry-header">
                  <div class="entry-meta">2008年10月9日</div>
                </header>
                <div class="entry-content clearfix">
                  <h3>皆様の温かいご支援のもと、10月9日をもちまして、株式会社ナンバーフォーは創立10周年を迎えることとなりました。
                    <br />これも偏に皆様方の御支援と御協力の賜と心より感謝いたしております。
                    <br />今後とも一層の御支援と御協力を賜りますよう心からお願い申し上げます。
                  </h3>
                  <p>創立記念日を迎えるにあたり創立記念イベントを開催しました。</p>
                  <p>社員総会を行い社長の挨拶の後に、社長から社員全員に記念品として花瓶が手渡されました。
                    <br />この記念品の花瓶は福井ならではの越前焼きで、底面には&#8221;創立10周年記念 株式会社ナンバーフォー&#8221;と彫ってあるとっておきの一品となっています。
                  </p>
                  <div class="column clearfix">
                    <div class="three-column">
                      <a href="/resource/img/gallery/200810-01-2.jpg" rel="lightbox[163]">
                        <img src="/resource/img/gallery/200810-01-2.jpg" width="300" height="225" />
                      </a>
                    </div>
                  </div>
                  <p>社員総会が終わったあとには、ボーリング大会が行われました。</p>
                  <p>直前に腰を痛めてしまい、残念ながら参加が出来ない方もいらっしゃいましたが、いろんな方の意外な一面が発見できとても楽しい大会となりました。 </p>
                  <p>特に景品として薄型ノートPCやホームベーカリーがかかっていたこともあり、とても白熱した大会となっていました。</p>
                  <div class="column clearfix">
                    <div class="three-column">
                      <a href="/resource/img/gallery/200810-01-3.jpg" rel="lightbox[163]">
                        <img src="/resource/img/gallery/200810-01-3.jpg" width="300" height="225" />
                      </a>
                    </div>
                    <div class="three-column">
                      <a href="/resource/img/gallery/200810-01-4.jpg" rel="lightbox[163]">
                        <img src="/resource/img/gallery/200810-01-4.jpg" width="300" height="225" />
                      </a>
                    </div>
                    <div class="three-column">
                      <a href="/resource/img/gallery/200810-01-5.jpg" rel="lightbox[163]">
                        <img src="/resource/img/gallery/200810-01-5.jpg" width="300" height="225" />
                      </a>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/gallery }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
