{{> head }}
<title>お問い合わせ | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">お問い合わせ</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <p>■ お電話でのお問い合わせをご希望の方</p>
                  <p>
                    <span class="textlink">
                      <a href="tel:0776304464">0776-30-4464</a>　（受付時間：平日9:30～18:30）
                    </span>
                  </p>
                  <hr>
                  <p>■ メールでのお問い合わせをご希望の方</p>
                  <p>
                    <span class="textlink">
                      <a
                        href="ma&#105;l&#116;o:info&#64;&#110;o4.co&#46;j&#112;">&#105;&#110;f&#111;&#64;&#110;o&#52;&#46;c&#111;.jp</a>
                    </span>
                  </p>
                  <p>※お問い合わせ後、3営業日以内には返答いたします。</p>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/inquiry }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
