{{> head }}
<title>情報セキュリティ方針 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">情報セキュリティ方針</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <p>株式会社ナンバーフォー（以下、「当社」といいます。）は、情報通信を中心としたシステムの開発を通じて、地元に貢献するという基本姿勢で日々活動しております。
                    <br />当社は、情報セキュリティの重要性を認識し、当社が扱う資産を盗難、漏洩、不正アクセス等の行為などから保護するために情報セキュリティ方針を定め、セキュリティインシデントの予防と継続的な情報セキュリティ向上に努めます。
                  </p>
                  <h3>1 資産の保護</h3>
                  <p>
                    当社は、事業活動の中で取扱う個人情報を含めた全ての情報資産のセキュリティを保護するため、機密性、完全性、可用性に対する脅威及びぜい弱性を特定かつ定量化して、定期的にリスクアセスメントを実施し、情報資産の重要性とリスクを分析・評価し、その結果に基づいて、適切な物理的管理策及び技術的管理策を実施します。
                  </p>
                  <h3>2 情報セキュリティ体制の構築と内部規定の整備</h3>
                  <p>当社は、情報セキュリティに関する役割と責任を定め、これを組織的に管理運用する体制を確立します。</p>
                  <h3>3 教育・訓練の実施</h3>
                  <p>
                    当社は、経営陣及び社員等に対して、情報セキュリティ方針をはじめとするISMS文書及びそれらに違反した場合の罰則適用に関する周知徹底を行い、情報セキュリティへの意識向上を図ります。また内部規定の周知徹底のため、定期的に教育・訓練を実施し、人的セキュリティの確保に努めます。
                  </p>
                  <h3>4 セキュリティインシデントの予防と対応</h3>
                  <p>
                    当社は、セキュリティインシデントの発生の予防に努めます。万一、発生した場合には、再発防止策を含む適切な対策を速やかに講じます。また事業継続を確実にするため、災害なども含めた緊急事態を想定した事業継続計画の策定とその点検を推進します。
                  </p>
                  <h3>5 法令・規範の遵守と継続的改善</h3>
                  <p>
                    当社は、事業上の要求事項、個人情報保護法、不正競争防止法、不正アクセス禁止法等の法令又は規制の要求事項に準拠・適合する方針及び内部規定を定め、並びに契約上のセキュリティ義務を考慮して、これらを遵守します。また、経営方針の変更、事業内容の変更、社会的変化、技術的変化、法令等の変更などに伴い、方針及び内部規定などを定期的に見直し、継続的改善を図ります。
                  </p>
                  <p>当社は、本方針に基づいて、情報セキュリティマネジメントシステム（ISMS）を確立、導入、運用、監視、レビュー、維持及び改善を実施してまいります。</p>
                  <p style="text-align: right;">制定日：2011年4月30日
                    <br />更新日：2015年1月9日
                    <br />代表取締役社長　白崎 建次
                  </p>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/company }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
