<footer id="colophon" class="clearfix">
  <div class="widget-wrap">
    <div class="container">
      <div class="widget-area clearfix">
        <div class="column-4">
          <aside class="widget">
            <h3 class="widget-title">株式会社ナンバーフォー</h3>
            <div class="textwidget">
              <ul>
                <li>
                  <a href="/company/map/" title="〒910-0026 福井市光陽3丁目8番26号">
                    <i class="fa fa-map-marker"></i> 〒910-0026 福井市光陽3丁目8番26号
                  </a>
                </li>
                <li>
                  <a href="tel:0776304464" title="0776-30-4464">
                    <i class="fa fa-phone-square"></i> 0776-30-4464
                  </a>
                </li>
                <li>
                  <i class="fa fa-fax"></i> 0776-30-4474
                </li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="column-4">
          <aside class="widget widget_nav_menu">
            <div>
              <ul class="menu">
                <li><a href="/">ナンバーフォーとは</a></li>
                <li><a href="/company/about/">会社概要</a></li>
                <li><a href="/project/">事業内容</a></li>
                <li><a href="/recruit/requirement/">募集要項</a></li>
                <li><a href="/gallery/">ギャラリー</a></li>
                <li><a href="/inquiry/">お問い合わせ</a></li>
              </ul>
            </div>
          </aside>
        </div>
        <div class="column-4">
          <aside class="widget">
            <div class="textwidget">
              <div>
                <img src="/resource/img/isms.jpg" alt="isms" />
                <br />IS 582071 / ISO27001
              </div>
            </div>
          </aside>
        </div>
        <div class="column-4"></div>
      </div>
    </div>
  </div>
  <div class="site-info">
    <div class="container">
      <div class="social-links clearfix">
        <a target="_blank" href="https://www.facebook.com/no4.official/">
          <i class="fa fa-facebook"></i>
        </a>
        <a target="_blank" href="https://twitter.com/no4_official">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
      <div class="copyright">Copyright &copy; 2017 Numberfour Co., Ltd. All Rights Reserved. </div>
      <div style="clear:both;"></div>
    </div>
  </div>
  <div class="go-to-top">
    <a title="Go to Top" href="#masthead">
      <i class="fa fa-angle-double-up"></i>
    </a>
  </div>
</footer>
