{{> head }}
<title>2011年度入社社員 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2011年度入社社員</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <h2 class="post-title">自分のやりたい事が実現できる職場です。</h2>
                  <div class="clearfix text-margin-single" style="margin-bottom:80px;">
                    <div class="float-right" style="width:190px; margin:0 0 10px 10px;">
                      <img src="/resource/img/recruit/face_message2011.jpg" alt="2011年度入社社員" width="200" height="267" />
                    </div>
                    <h4 class="post-title">この会社を選んだ理由は？</h4>
                    <p>学生時代に進路担当教官からの勧めで行った会社見学がきっかけです。
                      <br />その時に感じた会社の雰囲気や、先輩社員との面談で印象がとても良かったため、この会社にしました。
                    </p>
                    <h4 class="post-title">仕事のやりがいや面白さ、魅力はなんですか？</h4>
                    <p>プログラムが自分の思い描いた動作をした時は面白さを感じます。
                      <br />また、努力した分だけ知識が広がりスキルが上達する所に魅力があります。
                    </p>
                    <h4 class="post-title">入社して苦労したことはありますか？</h4>
                    <p>専門知識が多く、最初は仕事内容を理解するのに苦労しました。
                    </p>
                    <h4 class="post-title">担当している仕事ではどのような能力が必要とされていますか？</h4>
                    <p>専門知識も必要ですが、自分のやった事、やりたい事を伝えるコミュニケーション能力も重要です。
                    </p>
                    <h4 class="post-title">これから挑戦したいことや夢があったら教えてください。</h4>
                    <p>１つの分野で誰にも負けない知識と能力を持つオンリーワンの技術者になりたいです。
                    </p>
                    <h4 class="post-title">入社希望者へひとことお願いします。</h4>
                    <p>新しい物に興味があり、何事にもチャレンジ出来る人であれば問題ないと思います。
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
