<div id="secondary">
  <aside class="widget">
    <h2 class="widget-title">会社概要</h2>
    <ul>
      <li><a href="/company/about/">会社概要</a></li>
      <li><a href="/company/policy/">社是・ポリシー</a></li>
      <li><a href="/company/security/">情報セキュリティ方針</a></li>
      <li><a href="/company/map/">地図</a></li>
      <li><a href="/company/exterior/">外観</a></li>
      <li><a href="/company/interior/">社内案内</a></li>
    </ul>
  </aside>
  {{> sidebar/parts/facebook }}
</div>
