<div id="secondary">
  <aside class="widget">
    <h2 class="widget-title">ギャラリー</h2>
    <ul>
      <li><a href="/gallery/201809-01/">2018年 社員旅行</a></li>
      <li><a href="/gallery/201612-01/">2016年 忘年会</a></li>
      <li><a href="/gallery/201609-01/">2016年 社員旅行</a></li>
      <li><a href="/gallery/201205-01/">2012年 社員交流会</a></li>
      <li><a href="/gallery/200905-01/">2009年 社員交流会</a></li>
      <li><a href="/gallery/200812-01/">2008年 忘年会</a></li>
      <li><a href="/gallery/200810-01/">2008年 創立記念イベント</a></li>
      <li><a href="/gallery/200807-01/">2008年 社内アプリコンテスト</a></li>
      <li><a href="/gallery/200804-01/">2008年 社員交流会</a></li>
    </ul>
  </aside>
  {{> sidebar/parts/facebook }}
</div>
