<div id="secondary">
  <aside class="widget">
    <h2 class="widget-title">お問い合わせ</h2>
    <ul>
      <li><a href="/inquiry/">お問い合わせ</a></li>
    </ul>
  </aside>
  {{> sidebar/parts/facebook }}
</div>
