<div id="secondary">
  <aside class="widget widget_recent_entries">
    <h2 class="widget-title">新着情報</h2>
    <ul>
      <li>
        <a href="/gallery/201809-01/">2018年 社員旅行</a>
        <span class="post-date">2018年10月26日</span>
      </li>
      <li>
        <a href="/recruit/voice/">社員の声を追加(2017年度入社社員)</a>
        <span class="post-date">2018年7月27日</span>
      </li>
    </ul>
  </aside>
  {{> sidebar/parts/facebook }}
</div>
