<div id="secondary">
  <aside class="widget">
    <h2 class="widget-title">採用情報</h2>
    <ul>
      <li><a href="/recruit/requirement/">募集要項</a></li>
<!--
      <li class="page_item_has_children">
          <a href="/recruit/voice/">社員の声</a>
          <ul>
              <li><a href="/recruit/voice/2012/">2012年度入社社員</a></li>
              <li><a href="/recruit/voice/2011/">2011年度入社社員</a></li>
              <li><a href="/recruit/voice/2008/">2008年度入社社員</a></li>
              <li><a href="/recruit/voice/2007/">2007年度入社社員</a></li>
          </ul>
      </li>
-->
      <li><a href="/recruit/qa/">Q&#038;A</a></li>
    </ul>
  </aside>
  {{> sidebar/parts/facebook }}
</div>
