{{> head }}
<title>2017年度入社社員 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2017年度入社社員</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <div class="text-margin-single">
                    <h2 class="post-title">一人一人に合った働き方ができる職場です。</h2>
                    <div class="clearfix text-margin-single" style="margin-bottom:80px;">
                      <h4 class="post-title">この会社を選んだ理由は？</h4>
                      <p>社長の人柄と、福利厚生がしっかりしていると感じたからです。
                        <br />社員一人一人が働きやすいように柔軟に対応して下さるのでとても働きやすい環境が整っていると感じます。
                        <br />また上記ともかぶりますが、やってみたいことなど比較的自分の希望が通りやすいと会社だと思います。
                      </p>
                      <h4 class="post-title">仕事のやりがいや面白さ、魅力はなんですか？</h4>
                      <p>様々な案件に携わらせてもらえることです。
                        <br />案件によって開発するものも変わるし、扱う言語も違うので、一から仕様を理解したり、
                        勉強したり大変ではありますが、幅広い知識が身につくのでそこが魅力だと思います。
                      </p>
                      <h4 class="post-title">入社して苦労したことはありますか？</h4>
                      <p>技術面はもちろんですが、何より相手に報告であったり、質問だったり「伝える」ことに苦労しました。
                        <br />話すことをまとめても、いざ話すとうまく先輩に伝わらない…ということが多々ありました。
                        <br />いかに簡潔に、かつ分かりやすく伝えるか未だに私の課題です。
                      </p>
                      <h4 class="post-title">担当している仕事ではどのような能力が必要とされていますか？</h4>
                      <p>多くの先輩方がおっしゃってますが、コミュニケーション能力だと思います。
                        <br />私自身コミュニケーションをとるのが得意とは言えませんが、
                        一人で仕事をしているわけではないので、必要不可欠だと思います。
                      </p>
                      <h4 class="post-title">これから挑戦したいことや夢があったら教えてください。</h4>
                      <p>やりたい分野とは別に、今はいろんな経験をして知識を広げていきたいです。
                        <br />そして安心して仕事を任せてもらえるような技術者になりたいです。
                      </p>
                      <h4 class="post-title">入社希望者へひとことお願いします。</h4>
                      <p>弊社は自分の意見や希望が通りやすいですし、風通しの良い会社です。
                        <br />また、いろいろ経験させてもらえるので、スキルアップはガンガンできると思います。
                        <br />不安なことであったり、分からないことがあれば、一度会社見学に来てみてください！
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
