{{> head }}
<title>2017年度入社社員 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">2017年度入社社員</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <div class="text-margin-single">
                    <h2 class="post-title">幅広い知識が身につく仕事です。</h2>
                    <div class="clearfix text-margin-single" style="margin-bottom:80px;">
                      <div class="float-right" style="width:190px; margin:0 0 10px 10px;">
                        <img src="/resource/img/recruit/face_message2017_2.jpg" alt="社員の声（2017年入社社員）" />
                      </div>
                      <h4 class="post-title">この会社を選んだ理由は？</h4>
                      <p>最初は会社見学で何気なく選んだ会社の一つでしたが、
                        その時に体験したプログラミングでアプリやシステムが出来上がる様子に面白さを感じたのがきっかけです。
                      </p>
                      <h4 class="post-title">仕事のやりがいや面白さ、魅力はなんですか？</h4>
                      <p>IT業界は今やかなり広い分野に仕事があるので、担当する仕事の内容が違ってくるところが面白いです。
                      </p>
                      <h4 class="post-title">入社して苦労したことはありますか？</h4>
                      <p>説明がうまくできないと苦労します。頭の中ではわかっていてもうまく言葉にできず、上司やお客様に伝わらないことが多々ありました。
                        <br />また、打ち合わせでは専門用語が飛び交うので、理解できるようになるまでが大変でした。
                      </p>
                      <h4 class="post-title">担当している仕事ではどのような能力が必要とされていますか？</h4>
                      <p>プログラムは英語で書かれていることが多いので英語の能力があると仕事がよりスムーズに進みます。
                      </p>
                      <h4 class="post-title">これから挑戦したいことや夢があったら教えてください。</h4>
                      <p>難しい仕事を難なくこなす先輩がかっこよかったので、仕事をバシッと仕上げられる優しくて頼りがいのある先輩になりたいです。
                      </p>
                      <h4 class="post-title">入社希望者へひとことお願いします。</h4>
                      <p>社員同士の壁がなく、多少歳の差があっても声をかけづらいということは全くありません。<br />きっと話の合う人がいると思います。
                      </p>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
