{{> head }}
<title>社内案内 | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">社内案内</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <h3 class="post-title">1F</h3>
                  <div class="column clearfix">
                    <div class="three-column">
                      <figure style="width: 683px" class="wp-caption">
                        <a href="/resource/img/interior/interior1.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior1-683x1024.jpg" alt="玄関" width="300" height="450" />
                        </a>
                        <figcaption class="wp-caption-text">玄関</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/interior/interior2.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior2-300x200.jpg" alt="階段" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">階段</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/interior/interior3.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior3-300x200.jpg" alt="談話室" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">談話室</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/interior/interior4.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior4-300x200.jpg" alt="システム開発部" width="300"
                            height="200" />
                        </a>
                        <figcaption class="wp-caption-text">システム開発部</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/interior/interior5.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior5-300x200.jpg" alt="技術開発部" width="300"
                            height="200" />
                        </a>
                        <figcaption class="wp-caption-text">技術開発部</figcaption>
                      </figure>
                    </div>
                  </div>
                  <h3 class="post-title">2F</h3>
                  <div class="column clearfix">
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/interior/interior6.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior6-300x200.jpg" alt="総務" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">総務</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/interior/interior7.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior7-300x200.jpg" alt="会議室1" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">会議室1</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/interior/interior8.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior8-300x200.jpg" alt="会議室2" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">会議室2</figcaption>
                      </figure>
                    </div>
                    <div class="three-column">
                      <figure style="width: 300px" class="wp-caption">
                        <a href="/resource/img/interior/interior9.jpg" rel="lightbox[41]">
                          <img src="/resource/img/interior/interior9-300x200.jpg" alt="応接室" width="300" height="200" />
                        </a>
                        <figcaption class="wp-caption-text">応接室</figcaption>
                      </figure>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/company }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
