{{> head }}
<title>Q＆A | ナンバーフォー - 福井のソフトウェア設計・開発とシステムコンサルタント -</title>
</head>

<body class="small_image_blog">
  <div id="page">
    {{> header }}
    <div id="content">
      <div class="container clearfix">
        <div class="page-header">
          <h2 class="page-title">Q&#038;A</h2>
        </div>
        <div id="primary">
          <main id="main">
            <section>
              <article>
                <div class="entry-content clearfix">
                  <div class="text-margin-single">
                    <p style="margin-bottom: 10px; font-weight: 600;">Q1. 会社の雰囲気はどんな感じですか？</p>
                    <p>アットホームな雰囲気だと思います。
                      <br />
                      <a title="ナンバーフォー「ギャラリー」へ" href="/gallery/">ギャラリー</a>では、コンテストやイベントなどの社内活動をご紹介しています。
                      <br />弊社の雰囲気を知るためのご参考にしてください。
                      <br />
                    </p>
                  </div>
                  <div class="text-margin-single">
                    <p style="margin-bottom: 10px; font-weight: 600;">Q2. 採用にあたっての必要な資格はありますか？</p>
                    <p>人物重視で採用をしたいと考えていますので、特に必要な資格はございません。</p>
                  </div>
                  <div class="text-margin-single">
                    <p style="margin-bottom: 10px; font-weight: 600;">Q3. 平均年齢を教えてください。</p>
                    <p>平均33歳です。(2020年4月時点)</p>
                  </div>
                  <div class="text-margin-single">
                    <p style="margin-bottom: 10px; font-weight: 600;">Q4. 採用までの流れを教えてください。</p>
                    <p>一般的には、
                      <br />「書類選考→面接・試験→仮採用期間→本採用」という流れになります。
                      <br />仮採用期間は概ね三ヶ月となります。
                    </p>
                  </div>
                  <div class="text-margin-single">
                    <p style="margin-bottom: 10px; font-weight: 600;">Q5. 会社訪問をしたいのですが。</p>
                    <p>会社訪問は随時受け付けております。
                      <br />
                      <a title="ナンバーフォー「お問い合わせ」へ" href="/inquiry/">お問い合わせ</a>より、事前に希望日時をお電話、メール等でお知らせください。
                      <br />会社訪問により、ぜひ実際に、弊社の雰囲気をご確認ください。
                    </p>
                  </div>
                </div>
              </article>
            </section>
          </main>
        </div>
        {{> sidebar/recruit }}
      </div>
    </div>
    {{> footer }}
  </div>
</body>

</html>
